<section class="quantity-operations">
    <button class="quantity-button" mat-mini-fab 
        color="primary" (click)="onClickRemove()">
        <mat-icon>remove</mat-icon>
    </button>
    <mat-form-field class="quantity-text"
        appearance="outline">
        <mat-label>Quantity</mat-label>
        <input matInput readonly
            [(ngModel)]="quantity">
    </mat-form-field>
    <button class="quantity-button" mat-mini-fab 
        color="primary" (click)="onClickAdd()">
        <mat-icon>add</mat-icon>
    </button>
</section>