@import '../../../../scss/card-style';

.user-form {
    @include form-card;

    width: 552px;

    form {
        flex-wrap: wrap;
        gap: 20px;
        mat-form-field {
            width: 250px;
            margin: 0 5px;
        }
        
        .address {
            width: 510px;
        }
        flex-direction: column;
    }
}

.login-button {
    margin-top: 3px;
    text-align: center;
}