<h1 mat-dialog-title>{{confirmationDetails.action}} confirmation</h1>
<div mat-dialog-content>
    <p class="content">
        Are you sure you want to {{confirmationDetails.message}} <br>
        <b>"{{content}}"</b>
    </p>
</div>
<div mat-dialog-actions align="end">
    <button mat-flat-button mat-dialog-close>Cancel</button>
    <button *ngIf="confirmationDetails.ConfirmationButtonVisible" 
        mat-flat-button (click)="onClickConfirm()" cdkFocusInitial
        color="{{confirmationDetails.confirmationButtonColor}}">
        {{confirmationDetails.confirmationButtonText}}
        <mat-icon *ngIf="confirmationDetails.confirmationButtonIconVisible">
            {{confirmationDetails.confirmationButtonIcon}}
        </mat-icon>
    </button>
</div>