.product-list {
    box-shadow: none;
}

.product-card {
    max-width: 100%;
    
    img {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
}

.see-details-button {
    width: 100%;
}

.product-card-details {
    text-align: center;

    .price {
        color: red;
    }
}

.products-loading-place {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}