.login-form {
    width: 30%;
    margin: 10px auto;

    form {
        display: flex;
        flex-direction: column;
    }

    .register-button {
        margin-top: 3px;
        text-align: center;
    }
}