<mat-card class="product-detail">
    <mat-card-header>
        <mat-card-title class="mat-headline-5">{{product?.title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="product">
        <div class="image-section">
            <img src="{{product?.thumbnail}}" alt="">
        </div>
        <div class="details-section">
            <b>Brand</b>: {{product?.brand}} <br>
            <b>Description</b>
            <p>{{product?.description}}</p>
            <b>Price</b>: {{product?.price | currency}}

            <div class="add-to-cart-section" *ngIf="authState.isAuthenticated">
                <table>
                    <tr>
                        <td class="quantity-section">
                            <app-quantity-stepper 
                                [quantity]="quantity" 
                                [stock]="stock" 
                                (value)="setProductValues($event)">
                            </app-quantity-stepper>
                        </td>
                        <td>
                            <span class="mat-headline-6">Total: </span> 
                            <span class="mat-headline-5"> 
                                {{total | currency}}
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button class="add-cart-button"  mat-flat-button 
                                color="accent" matTooltip="Add item to cart" 
                                (click)="onClickAddToCart()">
                                <mat-icon>add_shopping_cart</mat-icon>
                                Add to cart
                            </button>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </mat-card-content>
    <mat-card-actions>
        <button  mat-button color="primary" 
            matTooltip="Back to products list" (click)="onClickBack()">
            <mat-icon>keyboard_backspace</mat-icon>
            Back
        </button>
    </mat-card-actions>
</mat-card>
