<app-page-header [pageTitle]="'Cart'"></app-page-header>

<mat-card class="card-item-list">
    <mat-card-header>
        <mat-card-title>Item list</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field appearance="outline">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="itemFilter($event)" 
                placeholder="Ex. MacBook" #input>
        </mat-form-field>

        <!-- loading spinner -->
        <app-loading-spinner *ngIf="!cartState.isLoaded">
        </app-loading-spinner> 

        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> Title </th>
                <td mat-cell *matCellDef="let item"> {{item.title}} </td>
            </ng-container>

            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef> Price </th>
                <td mat-cell *matCellDef="let item"> {{item.price}} </td>
            </ng-container>

            <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef> Quantity </th>
                <td mat-cell *matCellDef="let item" class="quantity-section"> 
                    <!-- quantity change section -->
                    <app-quantity-stepper 
                        [quantity]="item.quantity" 
                        [stock]="item.quantity" 
                        (value)="setProductValues(item,$event)">
                    </app-quantity-stepper>    
                </td>
            </ng-container>

            <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef> Total </th>
                <td mat-cell *matCellDef="let item" class="mat-headline-6">
                    {{item.total | currency}}
                </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>  </th>
                <td mat-cell *matCellDef="let item">
                    <button mat-stroked-button color="warn" 
                        (click)="onClickRemove(item.id)">
                        <mat-icon>delete</mat-icon>
                        Remove
                    </button>
                </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>

            <tr *matNoDataRow>
                <td class="mat-cell" colspan="4">
                    No data matching the filter "{{input.value}}"
                </td>
            </tr>

        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
        </mat-paginator>

        <table class="amount-table">
            <tr>
                <td class="left-column mat-headline-6">Sub Total </td>
                <td class="right-column mat-headline-5"> 
                    {{cartState.cart.total | currency}}
                </td>
            </tr>
            <tr>
                <td class="left-column">Total products </td>
                <td class="right-column"> {{cartState.cart.totalProducts}}</td>
            </tr>
            <tr>
                <td class="left-column">Total quantity </td>
                <td class="right-column"> {{cartState.cart.totalQuantity}}</td>
            </tr>
        </table>

    </mat-card-content>
</mat-card>

