@import '../../../scss/card-style';

.login-form {
    @include form-card;
    
    width: 30%;

    form {
        display: flex;
        flex-direction: column;
    }

    .register-button {
        margin-top: 3px;
        text-align: center;
    }
}