<mat-card class="login-form" *ngIf="!isRegister">
    <mat-card-header>
        <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="loginForm">
            <mat-form-field appearance="outline">
                <mat-label>Enter your username</mat-label>
                <input matInput formControlName="username">
                <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Enter your password</mat-label>
                <input matInput formControlName="password"
                    [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" 
                    [attr.aria-pressed]="hide">
                    <mat-icon>
                        {{hide ? 'visibility_off' : 'visibility'}}
                    </mat-icon>
                </button>
            </mat-form-field>
            <button type="submit"  mat-flat-button color="primary" 
                matTooltip="Login to the account" 
                [disabled]="loginForm.invalid" (click)="onClickLogin()">
                Login
            </button>
        </form>
        <div class="register-button">
            <button mat-button (click)="onClickRegister()"
                matTooltip="Create new account">
                Don't have an account yet? Register now
            </button>
        </div>
    </mat-card-content>
</mat-card>

<app-user-form [formAction]="'Register'" (formData)='createUser($event)' 
(isCanceled)='onCanceled()' *ngIf="isRegister"></app-user-form>