<mat-card class="user-details">
    <mat-card-header>
        <mat-card-title class="mat-headline-5">
            {{user?.firstName}}
            {{user?.lastName}}
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <table>
            <tr>
                <td><b>Name</b></td>
                <td>
                    : {{user?.firstName}}
                    {{user?.lastName}}
                </td>
            </tr>
            <tr>
                <td><b>Username</b></td>
                <td>
                    : {{user?.username}}
                </td>
            </tr>
            <tr>
                <td><b>Address</b></td>
                <td>
                    : {{user?.address?.address}}
                </td>
            </tr>
            <tr>
                <td><b>Email</b></td>
                <td>
                    : {{user?.email}}
                </td>
            </tr>
            <tr>
                <td><b>Phone</b></td>
                <td>
                    : {{user?.phone}}
                </td>
            </tr>
        </table>
    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button color="primary" (click)="onClickUpdate()"
            matTooltip="Update account">
            Update account
        </button>
    </mat-card-actions>
</mat-card>